<div class="h-full w-full p-2" infinite-scroll (scrolled)="onScrollDown()">
	<nav class="fixed start-0 top-0 z-20 w-full border-b border-gray-200 dark:border-gray-600 dark:bg-gray-900">
		<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
			<div class="flex items-center space-x-3">
				<span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">PokeDex</span>
			</div>
			<div class="flex md:order-2">
				<button
					type="button"
					data-collapse-toggle="navbar-search"
					aria-controls="navbar-search"
					aria-expanded="false"
					class="me-1 rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
				>
					<svg
						class="h-5 w-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 20 20"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
						/>
					</svg>
					<span class="sr-only">Search</span>
				</button>
				<div class="relative hidden md:block">
					<div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
						<svg
							class="h-4 w-4 text-gray-500 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
							/>
						</svg>
						<span class="sr-only">Search icon</span>
					</div>
					<input
						type="text"
						id="search-navbar"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
						placeholder="Search..."
					/>
				</div>
			</div>
			<div class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto" id="navbar-search">
				<div class="relative mt-3 md:hidden">
					<div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
						<svg
							class="h-4 w-4 text-gray-500 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
							/>
						</svg>
					</div>
					<input
						type="text"
						id="search-navbar"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
						placeholder="Tìm kiếm ..."
					/>
				</div>
			</div>
		</div>
	</nav>
	<div class="mt-20 grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
		@for (item of store.dataDetail(); track $index) {
			<div class="grid h-40 grid-cols-2 bg-{{ store.getTypePokemon(item.id) }} rounded shadow">
				<div class="flex h-full w-full items-center justify-center">
					<img src="{{ store.getPokemonImageUrl(item.id) }}" alt="Pokemon" class="object-cover" />
				</div>
				<div class="grid grid-rows-3 items-center justify-center">
					<span class="flex justify-center text-2xl font-bold capitalize text-white">{{ item.name }}</span>
					<div class="grid items-center justify-center gap-2">
						@for (item of item.types; track $index) {
							<img src="{{ store.getTypePokemonImageUrl(item.type.name) }}" alt="type" class="w-1/2" />
						}
					</div>
				</div>
			</div>
		}
	</div>
	<app-spinner [loading]="store.isLoading()"></app-spinner>
</div>
