<div class="h-full w-full p-2" infinite-scroll (scrolled)="onScrollDown()">
	<nav
		class="fixed start-0 top-0 z-20 w-full border-b border-gray-200 bg-white dark:border-gray-600 dark:bg-gray-900"
	>
		<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
			<div class="flex items-center space-x-3">
				<span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">PokeDex</span>
			</div>
			<div class="flex md:order-2">
				<div class="relative md:block">
					<div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
						<mat-icon
							[svgIcon]="'search'"
							class="h-4 w-4 text-gray-500 dark:text-gray-400"
							aria-hidden="true"
						></mat-icon>
						<span class="sr-only">Search icon</span>
					</div>
					<input
						type="text"
						id="search-navbar"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
						placeholder="Tìm kiếm..."
					/>
				</div>
			</div>
			<button
				id="theme-toggle"
				type="button"
				class="rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
				(click)="toggleTheme()"
			>
				<mat-icon [svgIcon]="'dark_mode'" class="hidden h-5 w-5"></mat-icon>
				<mat-icon [svgIcon]="'light_mode'" class="hidden h-5 w-5"></mat-icon>
			</button>
		</div>
	</nav>
	<div class="mt-20 grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
		@for (item of store.dataDetail(); track $index) {
			<div class="grid h-40 grid-cols-2 bg-{{ store.getTypePokemon(item.id) }} rounded shadow">
				<div class="flex h-full w-full items-center justify-center">
					<img src="{{ store.getPokemonImageUrl(item.id) }}" alt="Pokemon" class="object-cover" />
				</div>
				<div class="grid grid-rows-3 items-center justify-center">
					<span class="flex justify-center text-2xl font-bold capitalize text-white">{{ item.name }}</span>
					<div class="grid items-center justify-center gap-2">
						@for (item of item.types; track $index) {
							<img src="{{ store.getTypePokemonImageUrl(item.type.name) }}" alt="type" class="w-1/2" />
						}
					</div>
				</div>
			</div>
		}
	</div>
	<app-spinner [loading]="store.isLoading()"></app-spinner>
</div>
